.carousel {
    height: 330px;
}

.main-info-block {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 80px auto;
}

.main-info {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main-info-img {
    width: 40px;
}

.big-img {
    width: 30px;
}

.main-info-text {
    font-size: 13px;
}


.about-marso {
    width: 200px;
}

.about-parfumplus {
    width: 180px;
}


.about-block {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.about {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.about-header {
    font-weight: 600;
}

.about-text {
    font-size: 12px;
    color: #888888;
    margin: 0px 0px 20px;
    text-align: justify;
    line-height: 20px;
}











@media (max-width: 500px) {
    .carousel {
        height: 90px;
    }

    .main-info-block {
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 80px auto;
    }

    .main-info {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .main-info-img {
        width: 30px;
    }

    .big-img {
        width: 20px;
    }

    .main-info-text {
        font-size: 10px;
    }



    .about-block {
        width: 90vw;
        margin: 0 auto;
        display: block;
    }

    .about {
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
    }

    .about-marso {
        width: 150px;
    }


}



@media (min-width: 501px) and (max-width: 720px) {
    .carousel {
        height: 140px;
    }

    .main-info-block {
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 80px auto;
        grid-gap: 10px;

    }

    .main-info {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .main-info-img {
        width: 30px;
    }

    .big-img {
        width: 20px;
    }

    .main-info-text {
        font-size: 10px;
    }



    .about-block {
        width: 90vw;
        margin: 0 auto;
        display: block;
    }

    .about {
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
    }

    .about-marso {
        width: 120px;
    }

    .about-parfumplus {
        width: 100px;
    }
}





@media (min-width: 721px) and (max-width: 1024px) {
    .carousel {
        height: 200px;
    }

    .main-info-block {
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 80px auto;
        grid-gap: 15px;
    }

    .main-info {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .main-info-img {
        width: 30px;
    }

    .big-img {
        width: 20px;
    }

    .main-info-text {
        font-size: 10px;
    }



    .about-block {
        width: 90vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }

    .about {
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
    }

    .about-marso {
        width: 120px;
    }

    .about-parfumplus {
        width: 100px;
    }
}

@media (min-width: 1025px) and (max-width: 1739px) {}